@media (max-width: 1200px) {
  .menu .menu_item {
    padding-right: 20px;
  }
  .menu_item .menu_link {
    font-size: 14px;
  }

  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 30px;
  }
  .promo-desc {
    font-size: 20px;
  }
  .reason-desc {
    width: 300px;
  }
  .reason-block {
    align-items: flex-start;
  }
}

@media (max-width: 991px) {
  .menu .menu_item {
    padding-right: 10px;
  }
  .menu_item .menu_link {
    font-size: 11px;
  }

  .promo_header {
    font-size: 35px;
  }
  .promo_subheader {
    font-size: 25px;
  }
  .reason-block {
    flex-direction: column;
    align-items: center;
  }
  .reason-header {
    margin-top: 20px;
  }
  .sub_header_logo img {
    width: 100%;
  }

  .sub_header .sub_header_text {
    font-size: 11px;
  }
  .sub_header_call {
    font-size: 11px;
  }
  .sub_header_phone {
    font-size: 18px;
  }
  .sub_header_btn {
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s all;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_item {
    padding: 0;
    border: none;
    margin: 10px;
  }
  .menu_item .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
  }
  .xs-hidden {
    display: none;
  }
  .xs-visible {
    margin-top: 10px;
    display: block;
    text-align: center;
  }
  .sub_header_btn {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 32px;
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
  .sub_header {
    height: 62px;
  }
  .sub_header_text {
    display: none;
  }

  .xs-visible {
    margin-top: 5px;
    display: block;
    text-align: center;
    font-size: 13px;
  }
  .sub_header_btn {
    font-size: 10px;
    display: block;
    margin: 0 auto;
    width: 116px;
    height: 22px;
    margin-top: 5px;
  }
  .promo {
    min-height: 338px;
  }
  .promo_header {
    line-height: 35px;
    font-size: 28px;
    font-weight: bold;
    padding: 0 24px;
  }
  .promo_subheader {
    margin-top: 33px;
    font-size: 20px;
    font-weight: lighter;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo-desc {
    display: none;
  }
  .promo-btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
}
